<div class="flex-space-between">
	<span class="bold">Nombre de peintures publiées</span><span>{{ statistics["count_painting"] }}</span>
</div>

<div class="flex-space-between">
	<span class="bold">Nombre d'auteurs</span><span>{{ statistics["count_biography"] }}</span>
</div>