<table id="painting_statistics">
	<tbody>
		<tr>
			<td><span class="bold">Nombre de peintures publiées</span></td><td>{{ statistics["count_painting"] }}</td>
		</tr>
		<tr>
			<td><span class="bold">Nombre d'auteurs</span></td><td>{{ statistics["count_biography"] }}</td>
		</tr>
	</tbody>
</table>